.footer {
	border-top: 1px solid #e9e9e9;
	margin-top: 60px;
	padding-top: 40px;

	.footer-col {
		.title{
			font-size: 22px;
			font-family: "SanFranciscoText_Bold";
			color: #4a4a4a;
			padding-bottom: 15px;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				font-size: 12px;
				padding: 4px 0;

				a {
					color: #9c9c9c;
				}
			}
		}
	}
}

.social-icons {
	text-align: right;

	ul {
		list-style: none;
		float: right;

		li {
			display: inline-flex;
			padding: 0 10px;
		}
	}
}

.copyright {
	border-top: 1px solid #e9e9e9;
	margin-top: 60px;
	padding-top: 20px;
	font-size: 12px;
	font-family: "SanFranciscoText_Bold";
	padding-bottom: 60px;
}


@media (min-width: 320px) and (max-width: 480px) {
  
  .footer {
	text-align: left;
	.footer-col{
		padding: 0;
		padding-left: 15px;

		.title {
	  		font-size: 16px;
	  		padding-bottom: 5px;
	  	}
	}
  }
  
  .copyright {
  	display: inline-flex;
  	padding: 10px 0 20px;
  	font-size: 12px;
  }

  .social-icons {
	text-align: left;

	ul {
		float: left;
		padding-left: 0;
		margin-top: 10px;

		li{
			padding: 0 10px 0 0px;

			img {
				width: 20px;
			}
		}
	}
  }
}