.navbar {
	background: white;
}

.special-dropdown {
	display: inline-flex;
	font-weight: bold;
	font-family: "SanFranciscoText_Bold";

	div {
		margin-top:  8px;
	}

	a.header {
		background: #4a90e2;
		margin: 0 10px;
		color: white;
		padding: 8px 20px !important;
		border-radius: 40px;
	}
}

.dropdown-toggle::after {
	vertical-align: 0.1rem;
}

.logo-image {
	height: 55px
}

.left-options {
	li {
		padding: 10px 15px;
		a {
			padding-top: unset;
			color: black;
			font-family:  "SanFranciscoText_Bold"
		}
	}
}

.navbar {
	padding: 0 2rem;
}

.courses {
	color: #4a90e2 !important;
}