/* Base Styles -------------------- */
@font-face {
	font-family: "SanFranciscoText_Regular";
	src:  url("/assets/fonts/SanFranciscoText-Regular.otf") format("opentype"),
}
@font-face {
	font-family: "SanFranciscoText_Bold";
	src:  url("/assets/fonts/SanFranciscoText-Bold.otf") format("opentype"),
}


body {
	font-family: "SanFranciscoText_Regular";
}

.carousel {
	padding-top: 40px;
}

.carousel-indicators li {
	width: 5px;
	height: 5px;
	border-radius: 20px;
}