.section{
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-title{
	font-weight: bold;
	font-size: 20px;
	font-family: "SanFranciscoText_Bold";
	color: #4a4a4a;
}

.section-content {
	margin-top: 25px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-flex;

		li {
			border: 1px solid #4a90e2;
			padding: 15px 40px;
			margin-right: 30px;
			border-radius: 40px;
			min-width: 200px;
			text-align: center;

			a {
				color: #646464;
			}
		}
	}
}

.bg-icon {
	margin-right: 4px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(56, 56, 56, 0.82);
	z-index: 999;
	display: none;
}

.dropdown{
	.dropdown-item{
		&:hover {
			background: #4a90e2;
			color: white;
		}
	}
}

.search-city {
	background: white;
	min-width: 350px;
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	top: 80px;
	right: 20px; 
	z-index: 1000;
	display: none;
	
	.search-icon {
		float: left;
		position: absolute;
		top: 31px;
		left: 35px;
	}

	input{
		width: 100%;
		padding: 8px 10px;
		border-radius: 20px;
		border: solid 1px #979797;
		padding-left: 40px;

		&:focus {
			outline-width: 0px;
		}
	}
}

.courses-top-hero {
	.carousel-item{
		height: 450px !important; 
	}
}

.navbar{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.courses-toggle {
	background: white;
	width: 100%;
	padding-top: 100px;
	display: none;

	.container{
		.title {
		  font-family: "SanFranciscoText_Bold";
		  font-size: 18px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  letter-spacing: normal;
		  text-align: left;
		  color: #f5a623;
		  height: 50px;
		  line-height: 20px;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{ 
			  font-size: 12px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.33;
			  letter-spacing: normal;
			  text-align: left;
			  padding: 4px 0;
			  a {
			  	color: #4a4a4a;	
			  }
			}
		}
	}
}

.tutor-steps {
	text-align: center;

	.title{
	  font-family: "SanFranciscoText_Bold";
	  font-size: 36px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #4a4a4a;
	  margin-bottom: 30px;
	}

	.tile{
		text-align: center !important;

		.text{
		  font-family: "SanFranciscoText_Bold";
		  font-size: 36px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  color: #4a90e2;
		}

		.sub-text{
		  font-family: "SanFranciscoText_Regular";
		  font-size: 20px;
		  font-weight: 600;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  color: #4a4a4a;
		  margin: 20px auto;
		  max-width: 200px;
		}
	}
	
}

.feedback-hero {
	.title{
	  font-family: "SanFranciscoText_Bold";
	  font-size: 32px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #4a4a4a;
	}
	.tile{
		padding: 20px 30px;
		border-radius: 7px;
  		border: solid 1px #f1f1f1;

		.text {
			font-size: 14px;
			line-height: 16px;
			color: #716f71;
		}
	}
}

.become-tutor{
	padding: 30px 0;
	text-align: center;

	.title{
	  height: 43px;
	  font-family: "SanFranciscoText_Bold";
	  font-size: 36px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #4a4a4a;
	}

	.text{
	  font-size: 18px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  margin: 20px 0;
	  color: #716f71;
	}
}

.tutor-exp{
	padding: 40px 0 0;

	.title {
	  font-family: "SanFranciscoText_Bold";
	  font-size: 36px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: left;
	  color: #4a90e2;
	  padding-bottom: 20px;
	}
}

.courses-bottom-hero{
	.carousel-item{
		height: 550px;
		.course-hero-content{
			text-align: center !important;
			padding-top: 40px;

			.title{
				text-transform: uppercase;
				margin: 0;
				font-size: 18px;
				margin-bottom: 40px;
			}
			.text{
				margin: 40px 0;
				font-size: 24px;
			}
			.subtext{
				color: red;
				margin: 30px 0;
			}
		}
	}
}

.course-hero-content {
    text-align: right;
    color: white;
    padding-top: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(246, 246, 246, 0.01) 0%, rgba(246, 246, 246, 0.01) 0%, rgba(27, 54, 84, 0.87) 26%, #1b3654 30%);
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;

	.title {
		font-size: 42px;
		margin: 40px 0 20px;
	}
}

.btn-orange {
	border-radius: 3px;
 	background-color: #f5a623;
 	color: white;
 	padding: 15px 60px;
 	margin-top: 80px;
 	font-size: 18px;
}

.breadcrumbs {
	list-style: none;
	display: inline-flex;
	padding: 0;
	margin: 0;
	margin-top: 50px;

	li {
		color: #d1d1d1;
		text-transform: uppercase;
		font-size: 12px;
		padding: 0 5px;
		font-family: "SanFranciscoText_Bold";
		
		&.active {
			color: #f5a623;
		}
	}
}

.class-page {
	.breadcrumbs {
		margin-top: 75px;
		li {
		color: #8c8b8b;
		
		&.active {
			color: #ffffff;
		}
	}
	}
}

.filters {
	margin-top: 30px;

	.filter-items {
		border: 1px solid #4a90e2;
		padding: 6px 15px;
		border-radius: 25px;
		display: inline-block;
		a {
			color: #4a90e2;
		}
	}

	ul {
		list-style: none;
		display: inline-flex;
		padding: 0;
		margin: 0;

		li {
			background:  #4a90e2;
			border-radius: 24.5px;
			padding: 6px 15px;
			font-size: 14px;
			color: white;
		}

	}
}

.course-tiles {
	 text-align: center;

	.title {
		font-size: 24px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: center;
		  color: #4a4a4a;
		  font-family: "SanFranciscoText_Bold";
		  margin: 30px;
	}

	.course-tile {
	  border-radius: 10px;
	  background-color: #ffffff;
	  border: solid 1px #e8e8e8;
	  padding: 20px;
	  img {
	  	width: 80px;
	  	display: block;
	  	margin: 0 auto;
	  }
	  .text{
		display: block;
		  font-family: "SanFranciscoText_Bold";
		  font-size: 18px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: center;
		  color: #7f7f7f;
		  margin: 10px 0px 0;
		  text-transform: capitalize;
	  }
	}
}

.ratings {
		list-style: none;
		padding: 0;
		li{
			display: inline-block;
			.fa {
				font-size: 18px;
				color: #c3c3c3 !important;
			}
			.active {
				color: #f5a623 !important
			}
		}
}

.course-hero{
	color: white;
	height: 300px;
	background: black;
	margin-bottom: 40px;
	margin-top: -30px;
	
	.course-details{
		position: absolute;
		top: 180px;
		right: 100px;
		text-align: center;
		width: 400px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
		padding-bottom: 30px;
		border-radius: 8px;

		img {
			width: 100%;
			border-radius: 8px 8px 0 0;
		}
		button {
			margin: 10px 20px 0;
			width: 90%;
			font-size: 24px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: left;
			margin-top: 20px;
			li {
				color:  #4a4a4a !important;
				font-family: "SanFranciscoText_Bold";

				.details-icon {
					margin-right: 10px;
					width: 18px;
				}
			}
		}


		.social-icons{
			color: #4a4a4a !important;
			font-family: "SanFranciscoText_Bold";
			float: right;
			display: inline-flex;
			ul {
				margin: 0;
				margin-left: 20px;
				float: right;
				li {
					padding: 0 10px; 
					img{
						border-radius: 0;
					}
				}
			}
		}
	}

	.tags {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 50px;
		li{
			display: inline-block;
			text-transform: uppercase;
			font-size: 10px;
			font-family: "SanFranciscoText_Bold";
			border: 1px solid white;
			padding: 0 10px;
			margin-right: 10px;
			border-radius: 10px;
		}
	}
	.title {
		font-size: 32px;
		font-family: "SanFranciscoText_Bold";
		margin-top: 15px;
		line-height: 32px;
	}
	
	.description{
		font-size: 24px;
	}

	.background-img{
		position: absolute;
		padding-top: 80px;
		background: rgba(0, 0, 0, 0.9);
		height: 400px;
	}

	.ratings{
		display: inline-flex;
		font-size: 16px;
		ul {
			padding: 0;
			margin-left: 10px;
		}
	}

	button {
		margin-top: 10px;
		border-radius: 100px;
		padding: 10px 20px;
		margin-right: 10px;
		font-size: 16px;
	}
}
.course-section {
	padding: 0;
	ul{
		padding: 0;
		margin-left: 30px;
	}
	.title{
		  font-family: "SanFranciscoText_Bold";
		  font-size: 24px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: left;
		  color: #4a90e2;
	}
	.courses-list{
		margin-top: 10px;
	}
	.content {
		margin: 0 !important;
		margin-right: 20px !important;
	}
	.text{
		font-size: 14px;
		line-height: 16px;
		padding: 10px 0;
		color: #716f71;
	}
	.course-row{
		margin: 15px 0;
		padding: 0;
	}
}

.reviews {
	margin-bottom: 30px;

	.title{
		margin-bottom: 10px;
		  font-family: "SanFranciscoText_Bold";
		  font-size: 24px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: left;
		  color: #4a90e2;
	}

	.text {
		font-size: 14px;
		line-height: 16px;
		padding: 10px;
		color: #716f71;
	}

	.review {
		margin: 20px 0;
	}
}

.add-review {
	text-align: center;
	img {
		border-radius: 100px;
		margin-bottom: 20px;
		border: 1px solid #ddd;
		width: 100px;
	}
	ul {
		list-style: none;
		padding: 0;
		li{
			display: inline-block;
			.fa {
				font-size: 24px;
			}
			&.active {
				color: #f5a623
			}
		}
	}
	input {
		max-width: 400px;
		width: 400px;
		padding: 10px;
		border: 0;
		border-bottom: 1px solid #ddd;
		display: block;
		margin: 0 auto;
	}
	button{
		margin-top: 20px;
		border-radius: 100px;
		font-size: 24px;
		text-transform: uppercase;
	}
}
.profile{
				display: inline-flex;
				img {
					width: 50px;
					height: 50px;
					border-radius: 100px;
				}
				.profile-content{
					margin-left: 15px;
					display: block;
					line-height: 18px;
					margin-top: 5px;
					.name {
						color: #4a90e2;
						font-family: "SanFranciscoText_Bold";
						font-size: 18px;
					}
					.insti {
						font-size: 12px;
					}
				}	
			}

.courses-list {
	margin: 30px 0;

	.list-item{
		display: inline-block;
		margin-top: 15px;

		.content {
			box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.07);
			margin: 0px;
			width: 100%;

		    img {
		    	border-radius: 5px 0 0 5px;
		    	width: 25%;
		    }

		    .pricing {
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	font-family: "SanFranciscoText_Bold";
		    	font-size: 24px;
		    	padding: 10px 20px;
		    }

		    .course-details {
		    	display: inline-flex;

				.details-icon {
					margin-right: 10px;
				}
		    }

			.content-text {
				padding: 15px;
				width: 75%;

				.description {
					font-size: 12px;
				}

				ul {
					list-style: none;
					display: inline-flex;
					padding: 0;
					margin: 0;

					li {
						padding: 0px 5px 0px 0;
						color:  #c3c3c3;

						.active {
							 color: #f5a623;
						}
					}
				}
				
				.content-items {
					font-size: 14px;

					li {
						padding-right: 15px;
					}
				}
				
				.tags {
					background: white;

					li {
						border: 2px solid #4D90EB;	
						text-transform: uppercase;
						margin-right: 10px;
						padding: 2px 15px;
						border-radius: 25px;
						font-size: 12px;
						font-family: "SanFranciscoText_Bold";
						color:  #4D90EB
					}
				}

				span {
					display: block;
					padding-bottom: 5px;
				}
				.course-name {
					text-transform: uppercase;
					font-family: "SanFranciscoText_Bold";
					color: #4a4a4a;
					font-size: 14px;
				}
				.course-catergory{
					color: #4a90e2;
					font-size: 12px;
					font-family: "SanFranciscoText_Bold";
				}
				.course-location{
					color: #9b9b9b;
					font-size: 12px;
					font-family: "SanFranciscoText_Bold";
				}
				.course-price {
					font-family: "SanFranciscoText_Bold";
					font-size: 20px;
				}
			}
		}
	}

	.grid-item {
		border-radius: 5px;
		background-color: #ffffff;

		.content {
			box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.07);
			margin: 10px;

			img {
				overflow-x: hidden;
				width: 100%;
				border-radius: 5px 5px 0 0;
			}

			.content-text {
				padding: 15px;

				ul {
					list-style: none;
					display: inline-flex;
					padding: 0;
					margin: 0;

					li {
						padding: 0px 5px 0px 0;
						color:  #c3c3c3;

						.active {
							 color: #f5a623;
						}
					}
				}

				span {
					display: block;
					padding-bottom: 5px;
				}
				.course-name {
					text-transform: uppercase;
					font-family: "SanFranciscoText_Bold";
					color: #4a4a4a;
					font-size: 14px;
				}
				.course-catergory{
					color: #4a90e2;
					font-size: 12px;
					font-family: "SanFranciscoText_Bold";
				}
				.course-location{
					color: #9b9b9b;
					font-size: 12px;
					font-family: "SanFranciscoText_Bold";
				}
				.course-price {
					font-family: "SanFranciscoText_Bold";
					font-size: 20px;
				}
			}
		}
	}
}

.top-hero {
	.carousel-item {
		height: 400px;

		.search-content{
			background: rgba(255,255,255,0.01);
			background: -moz-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(27,54,84,0.87) 26%, rgba(27,54,84,1) 30%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.01)), color-stop(0%, rgba(246,246,246,0.01)), color-stop(0%, rgba(246,246,246,0.01)), color-stop(26%, rgba(27,54,84,0.87)), color-stop(30%, rgba(27,54,84,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(27,54,84,0.87) 26%, rgba(27,54,84,1) 30%);
			background: -o-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(27,54,84,0.87) 26%, rgba(27,54,84,1) 30%);
			background: -ms-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(27,54,84,0.87) 26%, rgba(27,54,84,1) 30%);
			background: linear-gradient(to right, rgba(255,255,255,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(246,246,246,0.01) 0%, rgba(27,54,84,0.87) 26%, rgba(27,54,84,1) 30%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1b3654', GradientType=1 );position: absolute;
			right: 0;
			top: 0;
			width: 70%;
			height: 100%;
			text-align: right;
			color: white;
			padding-top: 100px;

			.search {
				margin: 40px 0;
				
				input {
					padding: 0 30px;
					height: 40px;
					width: 60%;
					border-radius: 40px;
					border: 0;
				}
			}

			.title {
				font-size: 36px;
				font-family: "SanFranciscoText_Bold";
			}

			.sec {
				text-align: center;
				font-size: 18px;
			}
		}
	}
}

.new-dd {
	margin-top: 10px;

	a {
		padding: 10px 40px;
		color: #4a90e2;
		width: 200px;
		background: white;
		height: 40px;
		border-radius: 40px;
	}
}

.blog-carousel {
	.carousel-item {
		height: inherit;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 20px 20px;
		
		.content {
			padding: 10px 20px 20px 0;

			.title {
				color: #4a90e2;
				font-family: "SanFranciscoText_Bold";
				margin-bottom: 15px;
				font-size: 18px;
			}

			.text {
				font-size: 12px;
				line-height: 16px;
				color: black;

				p {
					margin-bottom: 0.5rem;
				}
			}
		}
		.exp-header {
			.profile{
				display: inline-flex;
				img {
					width: 50px;
					height: 50px;
					border-radius: 100px;
				}
				.profile-content{
					margin-left: 15px;
					display: block;
					line-height: 18px;
					margin-top: 5px;
					margin-bottom: 30px;
					.name {
						color: #4a90e2;
						font-family: "SanFranciscoText_Bold";
						font-size: 18px;
					}
					.insti {
						font-size: 12px;
					}
				}	
			}
			.date {
				float: right;
				font-size: 12px;
				margin-top: 10px;
				color: #4a4a4a;
			}
		}
	}
}

.divider {
  height: 1px;
  object-fit: contain;
  opacity: 0.27;
  background:#979797;
  border: 0px;
  max-width: 1140px;
  margin: 40px 0;
}

.knowledge{
	margin-top: 30px;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-flex;

		li {
			text-align: center;
			display: table;
			padding: 35px 0;
			margin-right: 10px;

			a{
				color: white;
				vertical-align: middle;
				text-decoration: none;
			}
		}
	}
	.k1 {
	  width: 220px;
	  height: 89px;
	  object-fit: contain;
	  border-radius: 5px;
	  background-image: linear-gradient(292deg, #ff8359, #ffdf40);
	}
	.k2 {
	  width: 136px;
	  height: 89px;
	  object-fit: contain;
	  border-radius: 5px;
	  background-image: linear-gradient(303deg, #54d169, #aff57a);
	}
	.k3 {
	  width: 246px;
	  height: 89px;
	  object-fit: contain;
	  border-radius: 5px;
	  background-image: linear-gradient(290deg, #029cf5, #15eded);
	}
	.k4 {
	  width: 220px;
	  height: 89px;
	  object-fit: contain;
	  border-radius: 5px;
	  background-image: linear-gradient(292deg, #b122e5, #ff63de);
	}
	.k5 {
	  width: 187px;
	  height: 89px;
	  object-fit: contain;
	  border-radius: 5px;
	  background-image: linear-gradient(295deg, #f5317f, #ff7c6e);
	}
}

.adv {
	text-align: center;
	.adv-text {
		font-size: 36px;
		color: #4a4a4a;
		font-family: "SanFranciscoText_Bold";
		line-height: 40px;
		margin-top: 30px;
		.company {
			color: #4a90e2;
		}
		ul{
			padding: 0;
			margin-top: 20px;
			font-size: 13px;
			width: 450px;
			text-align: left;
			margin: 30px auto;
			li{
				line-height: 18px;
			}
		}
	}
}

.see-all {
	font-size: 12px;
	font-weight: bold;
	font-family: "SanFranciscoText_Bold";
	margin-top: 10px;
}

.browser-cats {
	text-align: right;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;

		li{
			display: inline-block;
			font-size: 12px;
			text-align: center;
			padding: 8px;
			color: #4a90e2;
			font-family: "SanFranciscoText_Bold";

			a{
				color: white;
				font-family: "SanFranciscoText_Regular";
			}
		}
	}
}

.categories {
	.category{
		padding-right: 5px;
		padding-left: 5px;
		.content-title {
			max-width: 170px;
			font-size: 12px;
			font-weight: bold;
			color: #4a4a4a;
			margin-top: 10px;
			font-family: "SanFranciscoText_Regular";

			span {
				display: block;
				line-height: 16px;
			}
			
			.link {
				color: #4a90e2;
			}

			.pricing {
				font-weight: normal;
				font-family: "SanFranciscoText_Regular";
				color: #9b9b9b;
			}
		}
	}
}

.k6 {
  width: 96px;
  height: 35px;
  border-radius: 17.5px;
  background-image: linear-gradient(290deg, #ff8359, #ffdf40);
}

.k7 {
  width: 108px;
  height: 35px;
  border-radius: 17.5px;
  background-image: linear-gradient(288deg, #54d169, #aff57a);
}

.k8 {
  width: 106px;
  height: 35px;
  border-radius: 17.5px;
  background-image: linear-gradient(288deg, #029cf5, #15eded);
}

.switch-filters {
	display: inline-flex;
}

.filters-search-bar {

	svg {
		float: right;
		position: absolute;
		margin: 8px 10px 0px 190px;
	}

	input{
		border-radius: 24.5px;
	    border: solid 1px #4a90e2;
	    padding: 6px 10px;
	    padding-right: 	40px;
	    margin-right: 10px;
	    font-size: 12px;
	    width: 220px;
	}
}

.class-buttons {
	ul {
		width: 100%;
		margin: 10px auto 40px !important;
		
		li {
			display: inline-block;
			border: 1px solid #f5a623;
			text-align: center;
			border-radius: 13px;
			a {
				color: #f5a623;
				text-transform: uppercase;
				padding: 5px 10px;
				font-size: 12px;
			}
		}
	}
}

.bg-btn-green {
	background: #7ed321;
	font-size: 28px !important;
	border-radius: 8px !important;
	color: white;
	font-family: "SanFranciscoText_Bold";
	line-height: 20px;
	padding: 20px !important;
	height: 100px;

	span {
		font-family: "SanFranciscoText_Regular";
		font-size: 14px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {

	.class-page {
		.breadcrumbs {
			margin-top: 45px;
			li {
			color: #8c8b8b;
			
			&.active {
				color: #ffffff;
			}
		}
		}
	}

	.course-hero {
		margin-bottom: 0;

		.course-details {
		position: relative !important;
		top: 0px !important;
	    right: 0px;
	    width: 100%;
	    margin-top: 60px;

	    .class-buttons {
	    	
		    }
		}
	}

	.course-section {
		margin-top: 500px;
	}

	.breadcrumbs {
		margin-top: 80px;
	}

	.choose-city {
		text-align: right;
	    position: absolute;
	    right: 30px;
	    top: 20px;
	    z-index: 9990;
	}

	.carousel {
		padding-top: 30px;
	}

	.filters-search-bar {
		float: none;
	}

	.filters {
		margin-top: 10px;
		text-align: left;

		input {
			padding: 5px 5px 5px 20px;
			font-size: 12px;
		}

		ul {
			width: 100%;

			li {
				padding: 5px 10px;
				font-size: 10px;
			}
		}

		.switch-filters{
			font-size: 12px;
			padding: 5px 10px;
		}
	}

  	
  	.categories {
  		padding: 0;

  		.category{
  			margin-bottom: 10px;
  		}

  		.category-row {
  			display: inline-flex !important;
  			padding: 0 20px;
  		}
  	}

  	.navbar {
  		padding: 0 !important;
  		height: 60px;
  	
	  	.navbar-brand {
	  		display: block;
	  		width: 100%;
	  		text-align: center;
	  		float: left;
	  		margin-top: 5px;

		  	.logo-image {
		  		height: 35px !important;
		  		margin: 0 auto;
		  	}
	  	}
	  	.navbar-toggler{
	  		color: black;
	  		position: absolute;
	  		z-index: 100;
	  		top: 10px;
	  		left: 5px;
	  	}
  	}

  	.top-hero{
  		.carousel-item{
  			height: 250px;
			
			img {
				height: 100%;
			}

	  		.search-content{
	  			width: 100%;
				text-align: left;
				padding-top: 110px;
				
				.new-dd{
					margin: 0;
					padding: 0;
					font-size: 12px;
					margin-top: 10px;

					a {
						padding: 13px 12px;

					}
				}

				.container{
					padding: 0 30px;
				}

				.search {
					margin: 10px 0 0;
				}

	  			.title {
	  				font-size: 12px;
	  				margin-bottom: 15px;
	  			}

	  			.sec {
	  				font-size: 12px;
	  				margin-top: 10px;
	  			}
	  		}
  		}
  	}
  	.section {
  		margin: 20px 0;

	  	.section-title{
	  		font-size: 16px;
	  		padding: 0 30px;
	  	}
		
	  	.section-content {
	  		margin-top: 10px;
	  		display: -webkit-inline-box;
	  		overflow-x: hidden;
	  		padding-left: 10px;
	  	}
  	}

  	.browser-cats{
		text-align: left;

		ul {

			li:first-child {
				display: block;
				text-align: left;
			}
		}
  	}

  	.adv-sm{
  		.top-title{
  			font-family: "SanFranciscoText_Bold";
		  font-size: 14px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: center;
		  color: #4a4a4a;
		  line-height: 20px;
		  margin-bottom: 20px;
  		}

  		.adv-center{
  			margin: 10px 0;
  		}

		.adv-text{
			font-size: 16px;
		}
		ul{
			padding-left: 20px;
			margin-top: 20px;
			text-align: left;
			font-size: 12px;
			font-family: "SanFranciscoText_Bold"
		}
  	}

  	.divider {
  		margin: 20px 0;
  	}
	.blog-carousel {
		.carousel-item {
			padding: 5px;

			img {
				width: 100%;
			}

			.content {
				padding: 5px 5px 0;
					
				.exp-header{
					.profile {
						width: 60%;
						
						.profile-content{
							margin-bottom: 15px;

							.name{
								font-size: 14px;
								line-height: 14px;
							}

							.insti {
								font-size: 10px;
							}
						}

						img {
							width: 40px;
							height: 40px;
						}
					}
				}
				.title {
					margin-bottom: 5px;
					font-size: 14px;
				}
			}
		}
	}	

	.switch-filters {
		display: inline-block;
	}

	.courses-list{
		margin-top: 5px;
		.list-item {
			.content {
				text-align: left;

				img {
					width: 40%;
					height: 100px;
				}

				.content-text {
					width: 60%;
					padding: 5px  10px;

					.course-details {
						display: inline-block;


				.details-icon {
					margin-right: 10px;
				}
					}

					span {
						padding-bottom: 0;
					}

					.course-name {
						font-size: 12px;
					}

					.course-category{
						font-size: 10px;
						display: inline-block;
					}

					.course-ratings {
						font-size: 10px;
					}

					.pricing {
						font-size: 12px;
						padding: 5px 10px;
					}
					.tags {
						li {
							font-size: 10px;
							padding: 2px 8px;
						}
					}

					.pull-right {
						float: left;
					}
				}
			}
		}
		.grid-item{
			margin-top: 20px;

			.content {
				margin: 2px;	

				.content-text {
					.course-name{
						font-size: 12px;
					}
					.course-catergory{
						font-size: 10px;
					}
					span{
						padding-bottom: 1px;
					}
				}
			}
		}
	}

	.search-city {
		width: 90%;
		padding: 10px 20px;

		.search-icon {
			top: 22px;
		}
	}

	.courses-top-hero .carousel-item {
		height: 400px !important;
	}

	.course-hero-content {
	    text-align: center;
	    color: white;
	    padding-top: 60px;
	    background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(246, 246, 246, 0.01) 0%, rgba(246, 246, 246, 0.01) 0%, rgba(27, 54, 84, 0.87) 26%, #1b3654 30%);
		position: absolute;
		top: 0;
		z-index: 100;
		width: 100%;
		height: 100%;

		.title {
			font-size: 20px;
			margin: 40px 0 20px;
	  	}
	}

	.course-tiles {
		.title {
			font-size: 16px;
			margin: 10px 0 20px;
			padding: 0;
		}
		.course-tile {
			img {
				width: 100%;
			}
			.text {
				font-size: 12px;
			}
			margin-bottom: 10px;
		}
	}

	.btn-orange {
		padding: 10px 20px;
		margin-top: 40px;
	}


	.courses-bottom-hero{
		.carousel-item{
			height: 350px;
			.course-hero-content{
				text-align: center !important;
				padding-top: 20px;

				.title{
					text-transform: uppercase;
					margin: 0;
					font-size: 12px;
					margin-bottom: 20px;
				}
				.text{
					margin: 20px 0;
					font-size: 16px;
				}
				.subtext{
					color: red;
					margin: 10px 0;
				}
			}
		}
	}

	.tutor-exp {
		img {
			width: 100%;
		}
	}

	.tutor-steps {
		img {
			width: 120px;
		}
		.tile {
			.text {
				font-size: 20px;
			}
			.sub-text{
				margin: 5px auto;
				font-size: 16px;
			}
		}
	}
	.feedback-hero{
		.title {
			font-size: 16px;
		}
	}
}

